


<h1> create a  guest </h1>

<form action"/guests" method = "POST">
<ul>

 <li>
   <label for="name">Name:</label>
   <input type="string"  name="guest[][name]" placeholder=" enter name" />
 </li>

 

 <li>
   <label for="phone_number">Phone number:</label>
   <input type="integer"  name="guest[][phone_munber]" placeholder="enter phone_number"/>
 </li>


 <li>
 <label for="adresse">Adresse:</label>
   <input type="text"  name="guest[][adresse]" placeholder="enter adresse"/>
 </li>



 <li>
   <label for="email">E-mail:</label>
   <input type="string"  name="guest[][user_email]"placeholder="enter email" />
 </li>


 <li>
 <label for="note">Note:</label>
   <input type="text"  name="guest[][note]"placeholder="enter note" />
 </li>


 <li>
   <label for="creates_at">Date created:</label>
   <input type="date" name="guest[][creates_at]"/>
 </li>


 <li>
   <label for="update_at">Date updated:</label>
   <input type="date" name= "guest[][update_at]" />
 </li>


 <li>

 <label for="time_line-select">Choose a timeline:</label>

 <select name="guest[][time_line]" placeholder=" select time_line">
     <option value="">--Please choose an option--</option>
     <option value="now">Now</option>
     <option value="3 months">3 Months</option>
     <option value="6 months"> 6 Months</option>
     <option value="1 year">1 Year</option>
     <option value="just browsing">Just browsing</option>
   
 </select>
 </li>


 <li>
 <li class="button">
 <button type="submit">Sumbit</button>
</li>
