<h1>LOGIN </h1>

 <form action="/login" method="POST">
 <label>NAME:</label>
<input type="text" name="name" required/>
 <label>EMAIL:</label>
 <input type="text" name="email" required/>
 <label>PASSWORD:</label>
 <input type="text" name="password" required/>

 <input type="submit" value="log in" required/>
 </form>