 <h1>Sign up </h1>

 <form action= "/users/sign_up">
 <label>NAME:</label>
<input type="text" name="name" required/>
 <label>EMAIL:</label>
 <input type="text" name="email" required/>
 <label>PASSWORD:</label>
 <input type="text" name="password" required/>
 </form>