
<div class ="container"
<h1>
Open house guest sign in
</h1>
<p>
<span>
 <a href ="/guests/1">Name:Guest1</a>, <a href ="numbers/1">number: number 1</a>, <a href ="emails/1">email: email 1</a> <a href ="timelines/1">timeline: timeline1</a> 
<span>
<p>
<span>
guest 1
</span>

</span>
guest 2
</span>

<ol>
<li>
item 
</li>
<li>
item  
</li>
<li>
item 
</li>
<li>
item 
</li>
</ol>
</div>
