
 <h1>Open house guest</h1>
 
 <form action="/my-handling-form-page" method="post"> 
 <ul>

  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name" />
  </li>

  <li>
    <label for="phone number">Phone number:</label>
    <input type="text" id="phone number" name="user_" />
  </li>

  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email" />
  </li>
  <li>

  <label for="timeline-select">Choose a timeline:</label>

  <select name="timeline" id="timeline-select">
      <option value="">--Please choose an option--</option>
      <option value="now">Now</option>
      <option value="3 months">3 Months</option>
      <option value="6 months"> 6 Months</option>
      <option value="1 year">1 Year</option>
      <option value="just browsing">Just browsing</option>
    
  </select>

  <li class="button">
  <button type="submit">Sumbit</button>
</li>
