


 

 <style>
 body {
   background-image: url('images/home-real-estate-106399.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed; 
   background-size: 100% 100%;
 }
 </style>


 <h1>  welcome  to open  house app </h1>


 <li>
 <a href="/login" >LOGIN  <a/>
 </li>

<li>
 <a href="/signup" > SIGN UP <a/>
 </li>




 